<html>
	<body>
		<h1>{{ restaurant.name }}</h1>

		{% if items %}

			{% for item in items %}

			{{ item.name }}
			</br>
			{{ item.course }}
			</br>
			{{ item.description }}
			</br>
			{{ item.price }}

			</br>
			<a href = '{{url_for('editMenuItem', restaurant_select = restaurant.id, menu_select = item.id)}}'>Edit</a>
			</br>
			<a href = '{{url_for('deleteMenuItem', restaurant_select = restaurant.id, menu_select = item.id)}}'>Delete</a>
			</br></br></br>

			{% endfor %}

		{% else %}
			There are currently no items on the menu.
		{% endif %}

		<a href = '{{url_for('newMenuItem', restaurant_select = restaurant.id)}}'>New Menu Item</a>

	</body>
</html>