<html>
	<body>
		<h1>Restaurants near you</h1>

		{% if restaurants %}

			</br>

			{% for restaurant in restaurants %}

			{{ restaurant.name }}
			</br>
			<a href = '{{url_for('editRestaurant', restaurant_select = restaurant.id)}}'>Edit</a>
			</br>
			<a href = '{{url_for('deleteRestaurant', restaurant_select = restaurant.id)}}'>Delete</a>
			</br></br></br>

			{% endfor %}

		{% else %}
			There are currently no restaurants near you.
		{% endif %}

		<a href = '{{url_for('newRestaurant')}}'>New Restaurant</a>

	</body>
</html>